# dependencies
node_modules/
.npm
package-lock.json
yarn.lock

# testing
.nyc_output
coverage

# production
.next
out
dist
build

# misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# debug
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.vercel
.env*
